/* div#bodyWrapper {
    display: grid;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
} */
/* ---------------------------------------------------- Header section ------------------------------------------------------------ */
header {
    padding: .4rem 0 0 0;
    figure.logo {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    a {
        display: block;
        float: right;
        margin: 0 1% 1rem 0;
        padding: 0;
        text-decoration: none;
    }
    }