header {
    padding: .4rem 0 0 0; //right here is where the padding will change the size of the header
    img {float: left; padding-right: 15px;}
    h1 {
        margin: 1rem 0 0 0; padding-bottom: .5rem; // this is where the padding will change the header as well
    } // end of h1
    h2 {
        visibility: visible;
        margin: 0;
        font-size: 1.4rem;
    } // end of h2
} //end of header